*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
}
#header{
    background: url(../)no-repeat center center/cover;
    
}
nav, .navbar, .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav{
    padding: 50px 0px;
    

}
.logo{
    margin-right: 80px;
}
li{
    list-style-type: none;
}
a{
    padding: 0px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #000b2c;
    font-weight: bold;
    font-family: "Myriad Pro";
    text-align: center;
}
.col-50{
    width: 50%;
}
.col-50 h1{
    font-size: 153px;
    color: #000b2c;
    font-weight: 500;
    font-style: italic;
    font-family: "Cormorant Garamond";
    padding-top: 0px;
        margin-top: 70px;
}
h1+p{
    font-size: 33px;
    color: #ff4b00;
    font-family: "Myriad Pro";
    margin-top: 20px;


}
h1+p+p{
    font-size: 13px;
    color: #122341;
    font-weight: 300;
    font-family: "Roboto";
    padding-top: 20px;
    /* margin-bottom: 30px; */
    padding-bottom: 30px;


}
.col-50 button{
    padding: 10px 20px;
    font-size: 33px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    border-radius: 15px;
    background-color: #ff4a00;
    padding-top: 0px;
    border: none;


}

.container1{
    padding: 50px;
    width: 100%;
    background-color: #000b2c;
}
 .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
 }

 .content2 img
 {
    border: 8px dotted  rgb(156, 24, 24);
    border-radius: 50%;
 }
 .content h1{
    font-size: 153px;
    color: #eef0f3;
    font-weight: 500;
    font-style: italic;
    font-family: "Cormorant Garamond";
    text-align: center;
    padding-top: 100px;
 }
 .content3 p{
    font-size: 19px;
    color: #ffffff;
    font-family: "Myriad Pro";
    text-align: right;
 }
 .content button{
    padding: 10px 20px;
    font-size: 33px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    border-radius: 15px;
    background-color: #ff4a00;
    margin: 30px 0px 20px 50px;
    border: none;
}

.container-2{
    padding: 50px;
    width: 100%;
    background-color: #ebedf1;
}
 .content-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
 }

 .content-4 img
 {
    border: 7px dotted rgb(236, 109, 5);
    border-radius: 50%;
 }
 .content-3 h1{
    font-size: 153px;
    color: #000b2c;
    font-weight: 500;
    font-style: italic;
    font-family: "Cormorant Garamond";
    text-align: center;
    padding-top: 100px;
 }
 .content-5 p{
    font-size: 19px;
    color: #000b2c;
    font-family: "Myriad Pro";
    text-align: left;
 }
 .content-3 button{
    padding: 10px 20px;
    font-size: 33px;
    color: #000b2c;
    font-weight: 500;
    font-family: "Roboto";
    border-radius: 15px;
    background-color: #ff4a00;
    margin: 30px 50px 20px 0px;
    border: none;
}
.container01{
    padding: 50px;
    width: 100%;
    background-color: #000b2c;
}
 .content00{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
 }

 .content02 img
 {
    border: 8px dotted  rgb(156, 24, 24);
    border-radius: 50%;
 }
 .content00 h1{
    font-size: 153px;
    color: #eef0f3;
    font-weight: 500;
    font-style: italic;
    font-family: "Cormorant Garamond";
    text-align: center;
    padding-top: 100px;
 }
 .content03 p{
    font-size: 19px;
    color: #ffffff;
    font-family: "Myriad Pro";
    text-align: right;
 }
 .content00 button{
    padding: 10px 20px;
    font-size: 33px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    border-radius: 15px;
    background-color: #ff4a00;
    margin: 30px 0px 20px 50px;
    border: none;
    display: flex;
}   