*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar
{
    width: 100%;
    /* height: 117px; */
    background-color: #b13941;
}
ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
}
li
{
    list-style: none;
    
}
a
{
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "PT Serif";
}
.container
{
    height:86vh ;
    background:rgba(0,0,0,0.5) url(../Project/image/main.png) no-repeat center/cover;
    background-blend-mode: darken

}
.container h1
{
    font-size: 92px;
    color: #feedda;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
    padding: 40px 0;
}
.container p
{
    /* width: 939px; */
    /* height: 94px; */
    font-size: 34px;
    color: #fefefe;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
    padding: 0 90px 50px 80px;
}
.container .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container button{
    padding: 20px 30px;
    background-color: #b13941;
    color: #fefefe;

}
.container1
{
    background-color: #b13941;
    display: flex;
      
}
.img2
{
   padding: 50px 0 50px 100px;
}
.sider h2
{
    font-size: 40px;
    color: #fefefe;
    text-align: left;
    margin: 100px 60px 0 100px;
    
    
}
.sider h1
{
    padding: 10px 30px 20px 100px;
    color: #fefefe;
    font-size: 30px;
}
.sider p
{
    padding: 0 30px 30px 90px;
    font-size: 21px;
    margin: 0 10px;
    color: #fefefe;
}
.container1 .btn2{
    padding: 10px 20px;
    margin-left:  100px;

}
.container1 button{
   
    background-color: #fefefe;
    color: #b13941;

}
.container2
{
    width: 100%;
    background-color: #f8eed3;
    display: flex;
    
}
.container2 h1
{
    font-size: 65px;
    color: #000000;
    font-weight: 400;
    font-family: "Yeseva One";
    padding: 100px 0 30px 100px;
}
.container2 p
{
    font-size: 21px;
    color: #575757;
    font-weight: 400;
    font-family: "PT Serif";
    padding: 50px 0 20px 100px;
    
}
.container2 a
{
    padding: 30px 0 50px 100px;
    color: red;
    
}
.container3
{
    height: 700px;
    background-color: #b13941;
}
.container3 h1
{
    color: #f8eed3;
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
    font-weight: 400;
    font-family: "Yeseva One";

}
.container3 p
{
    font-size: 20px;
    color: #f8eed3;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
    /* margin: 50px 0 0 100px; */
    position: relative;
    padding-top: 50px;
    padding-bottom: 90px;
}
.menu
{
    display: flex;
    justify-content: space-between;
}
.box1
{
    display: flex;
    margin: 10px;
}
.box2
{
    display: flex;
    margin: 10px;

}.box3
{
    display: flex;
    margin: 10px;

}
.list-item1
{
    background-color: white;
    height: 312px;
}
.list-item2
{
    background-color: white;
    height: 312px;

}
.list-item3
{
    background-color: white;
    height: 312px;

}
.list-item1 h2
{
   text-align: center;
   padding-top: 30px;
}
.list-item2 h2
{
   text-align: center;
   padding-top: 30px;

}
.list-item3 h2
{
   text-align: center;
   padding-top: 30px;

}
.list-item1 p
{
    font-size: 20px;
    color: #575757;
    font-weight: 400;
    font-family: "PT Serif";
    height: 200px;
    padding-top: 30px;
}
.list-item2 p
{
    font-size: 20px;
    color: #575757;
    font-weight: 400;
    font-family: "PT Serif";
    height: 200px;
    padding-top: 30px;
}

.list-item3 p
{
    font-size: 20px;
    color: #575757;
    font-weight: 400;
    font-family: "PT Serif";
    height: 200px;
    padding-top: 30px;

}
.container3 .btn3
{
   background-color: #b13941;
   color:#fefefe;
   margin-left: 90px;
   margin-bottom: 30px;
}
.container3 button
{
  padding: 10px 20px;
}
.container4
{
    height: 800px;
    background-color: #f8eed3;

}
.container4 h1
{
    color: #b13941;
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
    font-weight: 400;
    font-family: "Yeseva One";

}
.para1
{
    font-size: 20px;
    color: #b13941;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
    /* margin: 50px 0 0 100px; */
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
}
.store
{
    display: flex;
    justify-content: space-between;
}
.box4
{
    margin: 0px;
    padding-left: 100px;
}
.box5
{
    margin: 0px;

}.box6
{  
   padding-right: 100px;
}
.list-item4
{
    background-color: white;
    height: 250px;
   text-align: center;
    width: 351px;
}
.list-item5
{
    background-color: white;
    height: 250px;
    width: 351px;
    text-align: center;

}
.list-item6
{
    background-color: white;
    height: 250px;
   text-align: center;
    width: 351px;

}



.para
{
    font-size: 20px;
    color: #575757;
    font-weight: 400;
    font-family: "PT Serif";
    height: 150px;
    padding-top: 20px;
    padding-left: 10px;

}
.container4 .btn4
{
   background-color: #b13941;
   color:#fefefe;
   
}
.container4 button
{
  padding: 10px 20px;
}
.item4
{
    background: url(../Project/image/store1.jpg);
    height: 100%;
    width: 100%;
}
.item5
{
    background: url(../Project/image/store2.jpg);
    height: 100%;
    width: 100%;
}
.item6
{
    background: url(../Project/image/store3.jpg);
    height: 100%;
    width: 100%;
}
.container5
{
    height: 620px;
    width: 100%;
    background-color: #b13941;
    display: flex;
}
.item8
{
   background: url(../Project/image/coffee1.jpg)no-repeat;
   height: 400px;
   width: 800px;
   margin: auto;
}
.container5 h1
{
    font-size: 58px;
    color: #f8eed3;
    font-weight: 400;
    font-family: "Yeseva One";
    padding-bottom: 30px;

}
.para2
{
    
    font-size: 25px;
    color: #f8eed3;
    font-weight: 400;
    font-family: "PT Serif";
    padding-bottom: 100px;

}
.sider2
{
    margin: auto;
}
.insta
{
    width: 37px;
    height: 38px;
    background-color: #f8eed3;
    padding-top: 10px;
    padding-left: 10px;
    color: brown;
    margin: 10px;
}
.fb
{
    width: 37px;
    height: 38px;
    background-color: #f8eed3;
    margin: 30px;
    padding-top: 10px;
    padding-left: 10px;
    color: brown;
}
.twitter
{
    width: 37px;
    height: 38px;
    background-color: #f8eed3;
    padding-top: 10px;
    padding-left: 10px;
    color: brown;
}
.map{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    background-color:  #ffffff;;
}
.contect{
    width: 53%;
    display: flex;
    flex-direction: column;
}
.contect h1{
    letter-spacing: 1px;
    font-size: 58px;
    padding: 50px 0;
    font-family: "Yeseva One";
    color: #b13941;
}
.contect input{
    margin: 10px 0;
    width: 651px;
    padding:0 auto;
    background-color: #efefef;
    height: 62px;
    font-size: 21px;
}
input[placeholder='Messages']{
    width: 650px;
    background-color:#efefef ;
    border: 1.5px solid #b0b0b0;
    height: 202px;
    text-align: center;
}
.contect button{
    margin: 40px 0;
    font-size: 25px;
    height: 64px;
    background-color: #b13941;
    color: #f8eed3;
    font-family: "PT Serif";
    width: 207px;
    cursor: pointer;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    background-color: #b13941;
}
.your{
    height: 190px;
    line-height: 30px;
    font-family: "EB Garamond";
    color: #f8eed3;
}
.your p{
    font-size: 19px;
    margin: 30px 0;
    width: 150px;
}
.your h2{
    font-size: 25px;
    color: #f8eed3;
    font-family: "EB Garamond" ;
    
}
.footer ul{
    height: 198px;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #f8eed3;
    font-family: "EB Garamond";
    display: block;
}
.footer ul li:hover{
    cursor: pointer;
}
.last{
    cursor: pointer;
    font-size: 17px;
    line-height: 29px;
    color: #ffffff;
    font-family: "EB Garamond";
}
.insta2
{
    width: 37px;
    height: 38px;
    background-color: #f8eed3;
    padding-top: 10px;
    padding-left: 10px;
    color: brown;
    margin: 10px;
}
.fb2
{
    width: 37px;
    height: 38px;
    background-color: #f8eed3;
    padding-top: 10px;
    padding-left: 10px;
    color: brown;
}
.twitter2
{
    width: 37px;
    height: 38px;
    background-color: #f8eed3;
    padding-top: 10px;
    padding-left: 10px;
    color: brown;
}